/* body{
    margin:0px;
}
.section{
    float:left;
    width:33.33%;
    height:100%;
    background-color: green;

}
.section:nth-child(1){
    background-color: blue;
}
.section:nth-child(2){
    background-color: red;
} */

body{
    margin:0px;
}
.container{
    background-color:aqua;
    float:left;
    height: 50px;
    width:100%
}
.img{
    margin-left:500px;
    margin-top:0px;
    float:right;

    
}